@charset "utf-8";
/* CSS Document */

#Banner {
height: 190px;
width: 100%;
margin-right: auto;
margin-left: auto;
}
#AbsherCard
{
background:url(css/images/absher_card.PNG);
height:518px;
width:325px;
position: absolute;
   
}
#backCard
{
background:url(css/images/absher_card_back.PNG);
height:518px;
width:325px;
position: absolute;
}